/*
== Stylesheet für alle Seiten, oberflächliche  Formatierung ==
*/


/* === ALL === */


/*= reset =*/

* {
    margin: 0;
    padding: 0;
}


/*= general =*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins;
}

body {
    background-color: #e8e8e8;
    padding-top: 65px;
}

header {
    background-color: lightgrey;
}


/* === INDEX.HTML === */

section {
    min-height: 100vh;
    padding: 10px;
}


/* === MEDIZIN.HTML === */


/* === STRASSENVERKEHR.HTML === */


/* === EISENBAHN:HTML === */


/* === KONTAK.HTML === */