/*
== Stylesheet für alle Seiten, oberflächliche  Formatierung ==
*/


/* === ALL === */


/*= reset =*/

* {
    margin: 0;
    padding: 0;
}


/*= general =*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins;
    scroll-behavior: smooth;
}

body {
    padding-top: 53px;
}

.subpage_top h1 {
    margin: 10px 0;
}

.subpage_main h2,
.subpage_main h3,
.subpage_main h4,
.subpage_main h5,
.subpage_main h6 {
    margin: 20px 0;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 17px;
}


/*= section styles =*/

.subpage_top>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.subpage_top>div>div {
    text-align: center;
    box-shadow: 8px 8px black;
    padding: 0 20px 0 20px;
}

.subpage_top>div>div>h1 {
    font-size: 62px;
}

.subpage_main>div {
    line-height: 2em;
}


/* === INDEX.HTML === */

main {
    min-height: calc(100vh - 22.8vh);
}

#section_top {
    min-height: 100vh;
}

.index_sections>div {
    padding: 20px;
}


.subpage_main>div {
    background-color: #e8e8e8;
    margin: 0 10px 10px 10px;
    padding: 10px;
}

#mehrlesen {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: blue;
    padding: 20px;
    border: 0px solid;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

#mehrlesen:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-radius: 20px;
    transition: all 0.4s ease 0s;
}