/*
== Stylesheet für alle Seiten, oberflächliche  Formatierung ==
--------------------------------------------------------------
       Autor: Andreas Sünder
       Inspiration: Julian Doppelhofer
--------------------------------------------------------------
*/


/*=== RESET ===*/

* {
    margin: 0;
    padding: 0;
}


/*=== GENEREAL ===*/

* {
    margin: 0;
    padding: 0;
}


/*=== HEADER ===*/


/*=== NAV ===*/


/*=== MAIN ===*/


/*=== FOOTER ===*/